/*----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
   COMMONS
-----------*/
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container-standard{
    width: 1080px;
    margin: auto;
}
/*----------
   DEBUG
-----------*/

 /* .debug-col{
    width: 320px;
    background-color: blue;
    min-height: 1070px;
    float: left;
}   */



/*----------
   BUTTOMS
-----------*/
.btn{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    border: none;
}

.btn.btn-hero{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 18px;
}

.btn-col{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-top: 55px;
    margin-bottom: 35px;
    font-size: 15px;
}

.btn-enterprise{
    position: absolute;
    right: 30px;
    top: 85px;
    width: 305px;
    font-size: 15px;
}

.btn-patner{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    margin-top: 30px;
}

/*----------
   TYPO
-----------*/
h1{
    font-size: 3vw;
    line-height: 4vw;
    padding-top: 190px;
}
 
h2{
    font-size: 1.5vw;
}

h3{
    font-size: 1vw;
    font-weight: bolder;
    padding: 40px 0px 25px 30px;
}

h4{
    padding-left: 30px;
    margin-top: 40px;
}

.price{
    font-weight: bolder;
    padding-left:30px;
    padding-right: 30px;
}

.duration{
    font-size: 15px;
    color: #828f9a;
    display: block;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.plan-limits{
    padding-left: 30px;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    font-size: 14px;
}

.buy-now{
    display: block;
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

a{
    color: #4088ff;
}
/*----------
   HEADER
-----------*/
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.container-nav{
    padding: 30px 0px 30px 20px;

}

.container-nav ul{
    display: inline-block;
    width: 45%
}

.container-nav li a{
    text-decoration: none;
    color: black;
}

 .main-nav-right li{
    display: inline-block;
    margin: 0px 20px;
}

.main-nav-right{
    text-align: right;
    float: right;
}

.main-nav-left li{
    display: inline-block;
    margin: 0px 20px;
} 

/*----------
   MAIN
-----------*/

/*sezione hero*/

.hero{
    background-color: #b4d0e7;
    width: 100%;
}

.container-hero{
    max-width: 1300px;
    margin: auto;
}

.col-hero-left{
    width: 31%;
    float: left;
    line-height: 25px;
    font-weight: 500;
    padding-top: 80px;
    
}

.col-hero-right{
    width: 67%;
    float: left;
}

.hero-img{
    width: 100%;
    position: relative;
    top: 80px;
}

.col-hero-left i{
    font-size: 40px;
    margin-top: 50px;
}

/*sezione choise of plan*/
.choise-of-plan{
    margin-top: 215px;
}



.radio{
    display: inline-block;
    margin: 75px 15px 45px 0px;
}

.col-plan{
    width: calc(100% / 3 - 40px);
    min-height: 1170px;
    border: 1px solid #d0d0d3;
    float: left;

}

.col-top{
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 15px 0px;
}

.col-plan hr{
    width: 50px;
    color: #d0d0d3;
    margin-left: 30px;
}

.col-plan ul{
    list-style: none;
    padding: 35px 30px 0px 30px;
}

.col-plan ul li{
    font-size: 15px;
    margin-bottom: 25px;
}

.col-plan ul li i{
    color: #1f74ff;
    font-weight: bolder;
}

.col-team-standard{
    margin: 0px 60px;
}

.col-team-enterprise{
    width: 100%;
    margin: 50px 0px 150px;
    min-height: 250px;
    border: 1px solid #d0d0d3;
    position: relative;
}

.col-team-enterprise h4{
    margin-top: 0px;
    margin-bottom: 25px;
}

.col-team-enterprise span{
    padding-left: 30px;
    font-size: 14px;
}

/* sezione trova un patner */

.patner{
    margin-bottom: 120px;
}

.patner-img{
    width: 55%;
    float: left;
}

.col-patner-right{
    float: left;
    width: 45%;
    padding-left: 50px;
}

.col-patner-right h3{
    padding-left: 0px;
}

/* sezione operazioni */
.operation h2{
    margin-bottom: 85px;
}

.operation-row-feature{
    width: calc( 100% / 3 - 50px);
    float: left;
    margin-bottom: 135px;
    font-size: 17px;
}

.feature-middle{
    margin: 0px 70px;
}

.operation-row-feature h3{
    padding: 10px 0px 30px 0px;
}

.operation-img{
   width: 100%;
}
    
/* sezione teams */

.teams h2{
    margin-bottom: 45px;
}

.teams a{
    padding-bottom: 55px;
    font-size: 18px;
}

.container-logo{
    margin-top: 55px;
}
.col-small{
    float: left;
    width: 25vw;
    height: 25vw;
    background-color: aqua;
}

.col-large{
    float: left;
    width: 49.3vw;
    height: 25vw;
    background-color: #f5f5f5;
}