/*----------
    RESET
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
   COMMONS
-----------*/
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*----------
   BUTTOMS
-----------*/
.btn{
    padding: 10px 20px;
    background-color: #0061ff;
    color: white;
    border: none;
}

.btn.btn-hero{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 18px;
}

/*----------
   TYPO
-----------*/
h1{
    font-size: 3vw;
    line-height: 4vw;
    padding-top: 100px;
}
   

/*----------
   HEADER
-----------*/
header{
    width: 100%;
    background-color: white;
}

.container-nav{
    padding: 30px 0px 30px 20px;

}

.container-nav ul{
    display: inline-block;
    width: 45%
}

.container-nav li a{
    text-decoration: none;
    color: black;
}

 .main-nav-right li{
    display: inline-block;
    margin: 0px 20px;
}

.main-nav-right{
    text-align: right;
    float: right;
}

.main-nav-left li{
    display: inline-block;
    margin: 0px 20px;
} 

/*----------
   MAIN
-----------*/

/*sezione hero*/

.hero{
    background-color: #b4d0e7;
    width: 100%;
}

.container-hero{
    max-width: 1300px;
    margin: auto;
}

.col-hero-left{
    width: 31%;
    float: left;
    line-height: 25px;
    font-weight: 500;
    padding-top: 80px;
    
}

.col-hero-right{
    width: 67%;
    float: left;
}

.hero-img{
    width: 100%;
    position: relative;
    top: 80px;
}

.col-hero-left i{
    font-size: 40px;
    margin-top: 50px;
}